@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base{
  h1{
    @apply font-extrabold text-2xl mb-3
  }
}
.container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto a new line if there's not enough space */
  justify-content: space-between; /* Distributes the space between the cards */
  gap: 20px; /* Adds space between the cards */
  padding: 20px;
}

.card {
  flex: 1 1 300px; /* This allows the cards to grow and shrink, and sets a base width of 300px */
  max-width: 300px; /* Ensure cards don't exceed 300px width */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  background-color: --foreground-rgb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1em;
}
